<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easymall.dao.OrderDao">

	<!-- 添加Order表记录 -->
	<insert id="addOrder" parameterType="easymall.po.Orders">
		insert into Orders(id,money,receiverinfo,paystate,ordertime,user_id)
			values(#{id},#{money},#{receiverinfo},#{paystate},#{ordertime},#{user_id})
	</insert>
	
	<!-- 显示订单 -->
	<select	id="findOrderByUserId" parameterType="Integer" resultType="easymall.po.Orders">
		select * from orders where user_id=#{user_id};
	</select>
	
	<!-- 删除订单 -->
	<delete id="delorder" parameterType="String">
		delete from orders where id=#{id}
	</delete>
	
	<!-- 订单支付 -->
	<update id="payorder" parameterType="String">
		update orders set paystate=1 where id=#{id}
	</update>

	<!--查询所有订单 findOrder -->
	<select	id="findOrder" resultType="easymall.po.Orders">
		select * from orders;
	</select>
	
	<!-- 发货 sendorder -->
	<update id="sendorder" parameterType="String">
		update orders set sendstate=1 where id=#{id}
	</update>
	
	<!--确认收货  confirm -->
	<update id="confirm" parameterType="String">
		update orders set confirm=1 where id=#{id}
	</update>
</mapper>
